// Font styles
$font-style-normal: normal;

// Font weights
$font-weight-900: 900;
$font-weight-700: 700;
$font-weight-400: 400;

//Font sizes
$font-size-64px: 4rem;
$font-size-48px: 3rem;
$font-size-36px: 2.25rem;
$font-size-30px: 1.875rem;
$font-size-24px: 1.5rem;
$font-size-18px: 1.125rem;
$font-size-14px: 0.875rem;
$font-size-13px: 0.8125rem;

//Line heights
$line-height-normal: normal;

// Font families
$font-family-raleway: "Raleway";

// Sizes
$size_280: 280px;
$size_370: 370px;

// Screen sizes
$mobile: 320px;
$tablet: 1024px;

// Color
$color-FFFFFF: #ffffff;
$color-BABBC5: #babbc5;
$color-C6CBCD: #c6cbcd;
$color-6C7279: #6c7279;
$color-656980: #656980;
$color-353C65: #353c65;
$color-2C3154: #2c3154;
$color-252b49: #252b49;
$color-2D3033: #2d3033;
$color-000000: #000000;
$color-FF4343: #ff4343;
$color-E71414: #e71414;
$color-B90C0C: #b90c0c;
$color-5c3249: #5c3249;
//Color-background
$color-background-hover: rgba(255, 67, 67, 0.8);
$color-background-active: rgba(185, 12, 12, 0.8);
// Border
$border-2px-solid-fff: 0.125rem solid $color-FFFFFF;
