.footer {
  padding: 24px 0;
  background-color: $color-2C3154;

  @media (max-width: $tablet) {
    padding: 14px 0;
  }
  @media (max-width: $mobile) {
    padding: 29px 0;
  }

  &-wrap {
    width: 370px;
    display: block;
    margin: 0 auto;

    @media (max-width: $tablet) {
      width: 314px;
    }
    @media (max-width: $mobile) {
      width: 280px;
    }

    .footer-text {
      @include font($font-weight-400, $font-size-18px);
      text-align: center;
      color: #808080;

      @media (max-width: $tablet) {
        font-size: $font-size-14px;
      }

      &__author {
        color: $color-FFFFFF;
      }
    }
  }
}
